/** 选项卡样式 */
.tab { }
.tab_head { width: 100%; overflow-x: auto; }
.tab_body { max-height: 19rem; overflow-y: auto; }
.tab_list { display: inline-block; border-bottom: 1px #eee solid; height: 2.6rem; white-space: nowrap; position: relative; padding-top: .1rem; }
.tab_list li { display: inline-block; line-height: 2.6rem; margin-left: 1.2rem; color: #000; font-size: .75rem; }
.tab_list li:first-child { margin-left: 0; }
.tab_list .line { background: #ff6050; width: 1.4rem; height: .15rem;
    position: absolute; bottom: 0; left: .5rem; }






